html {
  box-sizing: border-box;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #fefefe;
  color: #000;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  margin: 0;
  min-height: 100%;
  padding: 0;
  text-rendering: optimizeLegibility;
}
